/ Template: documentation.haml

= wrap_layout :layout do
  %header.breadcrumbs
    .container
      %ol.breadcrumb
        %li
          %a{ href: '/documentation' }Documentation
        %li.active= current_page.data.title

  .container
    .row
      .col-xs-3
        = partial 'documentation_toc'

      .col-xs-7
        .document-hero-title
          %h1= current_page.data.title
          - if current_page.data.subtitle
            %h2= current_page.data.subtitle

        .markdown-document
          = find_and_preserve do
            = yield