/ Template: getting_started_guide.haml

= wrap_layout :layout do
  %header.primary-header.no-title
    .primary-header-bg
      = partial 'layouts/navbar'

  %header.breadcrumbs
    .container
      %ol.breadcrumb
        %li
          %a{ href: '/documentation' }Documentation
        %li
          %a{ href: '/getting_started' }Quickstart Guides
        - if current_page.data.language.downcase
          %li
            %a{ href: "/getting_started/#{current_page.data.language.downcase}" }= current_page.data.language
        %li.active= current_page.data.title


  .container.no-nav
    .row
      .col-xs-8.col-xs-offset-2
        .document-hero-title
          %h1= current_page.data.title
          - if current_page.data.sub_title
            %h2= current_page.data.sub_title

        .markdown-document
          = find_and_preserve do
            = yield