!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge,chrome=1', http_equiv:'X-UA-Compatible' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' }
    %meta{ name: 'description', content: 'Aptible Support Site' }
    %meta{ property: 'og:title', content: current_page.data.title || 'Aptible Support' }
    %meta{ property: 'og:site_name', content: 'Aptible Support' }
    %meta{ property: 'og:image', content: 'https://www.aptible.com/assets/images/aptible-og.png'}
    %title= @title || current_page.metadata[:locals][:title] || current_page.data.title || 'Aptible Support'
    %script{ type: 'text/javascript', src: '//use.typekit.net/hen3udh.js' }
    = stylesheet_link_tag 'main'
    = javascript_include_tag  'all'
    :javascript
      try{Typekit.load();}catch(e){}
  %body{ class: page_classes }
    %header.primary-header
      .primary-header-bg
        = partial 'navbar'

        - if current_page.data.header_title || current_page.data.header_search
          .container.header-title-container
            %h1.primary-title= current_page.data.header_title
            - if current_page.data.header_sub_title
              %h2.primary-sub-title= current_page.data.header_sub_title
            - if current_page.data.header_search
              .search-bar
                .search-bar-input
                  .input-group
                    %input#swifttype-search-input.form-control{ placeholder: 'Search Documentation, Support, and Quickstart guides', type: 'text' }
                    %span.input-group-addon
                      %i.fa.fa-search
                #st-results-container

    = yield

    = partial 'footer'

    :javascript
      try{Typekit.load();}catch(e){}

      (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
      (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
      e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
      })(window,document,'script','//s.swiftypecdn.com/install/v1/st.js','_st');

      _st('install','NEY74eNs3_qYZJHP2reK');