/ Template: quickstart.haml

= wrap_layout :layout do
  %header.breadcrumbs
    .container
      %ol.breadcrumb
        %li
          %a{ href: '/quickstart' }Quickstart Guides
        %li
          %a{ href: "/quickstart/#{@language.slug}" }= @language.name
        %li.active= @framework


  .container.no-nav
    .row
      .col-xs-12.col-sm-12.col-md-8.col-md-offset-2
        .document-hero-title
          %h1= @framework + " Quickstart Guide"
          %h2= "Deploying your first " + @framework + " app on Aptible"

        .markdown-document
          = find_and_preserve do
            = yield